@{
    ViewData["Title"] = "Logs History";
}
@model Web.Models.LogListViewModel

<h1>@ViewData["Title"]</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light my-4" style="background-color: #e3f2fd;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <div class="form-inline mr-auto mt-2 mt-lg-0">
            <a class="btn btn-outline-primary" asp-area="" asp-controller="Logs" asp-action="New">New <span class="sr-only">(current)</span></a>
        </div>
        <form id="paginationFilter" class="form-inline my-2 my-lg-0" formaction="logs">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Display</label>
            <select class="custom-select my-1 mr-sm-2" id="filterLogTypeId" name="logType">
                <option selected>All</option>
                @foreach (var item in Model.Types)
                {
                    @if (item.Id == ViewBag.queryParams.LogType)
                    {
                        <option value="@item.Id" selected>@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>

            <input id="filterKeywords" name="keywords" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" value="@ViewBag.queryParams.Keywords">
            <input type="hidden" id="pageIndex" name="pageIndex" value="@ViewBag.queryParams.PageIndex" />
            <input type="hidden" id="pageSize" name="pageSize" value="@ViewBag.queryParams.PageSize" />

            <button class="btn btn-outline-success mx-2 my-2 my-sm-0" type="submit">Search</button>
            <a class="btn btn-light mx-2 my-2 my-sm-0" title="Clear filters" asp-area="" asp-controller="Logs" asp-action="Index">X</a>
        </form>
    </div>
</nav>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Message</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.Logs.Count > 0)
        {
            @foreach (var item in Model.Logs)
            {
                <tr>
                    <td width="1" class="text-nowrap">@item.Date</td>
                    <td>@item.Type</td>
                    <td>@item.Description</td>
                    <td width="1"><a href="/logs/edit/@item.Id" class="btn btn-link py-0">Details</a></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4"><h5 class="my4 text-center">Nothing yet</h5></td>
            </tr>

        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <div class="d-flex w-100">
                    <div class="ml-auto">
                        <form action="Audit" id="paginationFilter" class="form-inline ml-auto">
                            <div class="form-group mr-2">
                                <label class="my-1 mr-2" for="size">page size:</label>
                                <select class="custom-select my-1 mr-sm-2" id="size" onchange="paginate()">
                                    @foreach (var item in ViewBag.queryParams.GetPagination)
                                    {

                                        @if (item.Key == ViewBag.queryParams.PageSize)
                                        {
                                            <option value="@item.Key" selected>@item.Key</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Key">@item.Key</option>
                                        }
                                    }
                                </select>
                                <input type="hidden" id="pageIndex" name="pageIndex" value="@ViewBag.queryParams.PageIndex" />
                            </div>
                        </form>
                    </div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-end my-auto">
                            @{
                                var pages = Math.Ceiling((decimal)(ViewBag.Count / ViewBag.queryParams.PageSize)) + 1;
                            }
                            @for (int i = 1; i <= pages; i++)
                            {
                                <li class="page-item"><a class="page-link" onclick="pageIndexChanged(@i); return false;" aria-label="@i">@i</a></li>
                            }
                        </ul>
                    </nav>
                </div>
            </td>
        </tr>
    </tfoot>
</table>

<script>

    function pageIndexChanged(val) {
        let pageIndexEl = document.getElementById('pageIndex');
        pageIndexEl.value = val;

        paginate();
    }

    function paginate() {
        let pageSizeEl = document.getElementById('pageSize');
        let val = document.getElementById('size').value;
        pageSizeEl.value = val;
        let form = document.getElementById('paginationFilter');
        form.submit();
    }

</script>